.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.Cat-picture {
  height: 40vmin;
  pointer-events: none;
}

.Unselected-Cat {
  color: rgba(0, 0, 0, 0.5);
  font-size: 4em;
}

.App-header {
  min-height: 25vh;
  width: 40vmin;
  background: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.leaflet-container {
  height: 600px;
  width: 600px;
}

.light {
  color: whitesmoke;
}
