@font-face {
  font-family: '8b-wonder';
  src: url('./assets/fonts/8-BIT WONDER.TTF');
}

body {
  margin: 0;
  font-family: '8b-wonder', SansSerif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
